body {
	font-family: "Arial", sans-serif;
	margin: 0;
	padding: 40px 0 0 0;
}

.container {
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
}

.link-to-me {
	font-weight: 600;
	font-size: 20px;
	color: black !important;
}

.link-to-me:hover {
	color: blue !important;
	text-decoration: none;
}

ul {
	padding: 0;
}

li {
	border: 1px solid rgb(209, 213, 218);
	border-radius: 3px;
	margin-bottom: 16px;
	padding: 16px;
	list-style: none;
}

input,
#submit-button {
	border: 1px solid rgb(209, 213, 218);
	border-radius: 3px;
	font-size: 16px;
	color: rgb(88, 96, 105);
	padding: 16px;
	margin-bottom: 16px;
}

input {
	width: 88%;
}

#submit-button {
	margin-left: 0px;
	width: 10%;
}

input:hover,
input:focus,
#submit-button:hover {
	border: 1px solid gray;
	outline: none;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: rgb(3, 102, 214);
}

a:visited {
	color: rgb(3, 102, 214);;	
}

a:hover {
	text-decoration: underline;
}

.url {
	display: inline-block;
	font-size: 14px;
}

.description {
	display: block;
	margin: 8px 0px 16px 0px;
	font-size: 12px;
	color: rgb(88, 96, 105);
}

.icons {
	width: 10px;
	height: 10px;
	display: inline-block;
	color: #586069;
}

.language-icon {
	background: black;
	border-radius: 50px;
	margin-right: 3px;
}

.language {
	display: inline;
	font-size: 12px;
	color: #586069;
}

.stars {
	font-size: 12px;
	margin-left: 16px;
	color: #586069 !important;
}

.stars:hover {
	text-decoration: none;
	color: rgb(3, 102, 214) !important;
}

.Python {
	background: #3572A5;
}

.JavaScript {
	background: #f1e05a;
}

.HTML {
	background: #e34c26;
}

.PHP {
	background: #4F5D95;
}

.Groovy {
	background: #e69f56;
}

.TypeScript {
	background: #2b7489;
}

.Shell {
	background: #89e051;
}

.CSS {
	background: #563d7c;
}